.DS_Store
public/

# Hugo lock/cache/output
.hugo_build.lock
resources/_gen/
hugo_stats.json

# Node / Prettier tooling
node_modules/
.prettier-cache
.prettiercache
npm-debug.log*

# Temp files
*.tmp
