{
  "plugins": ["prettier-plugin-go-template"],
  "overrides": [
    {
      "files": ["layouts/**/*.html", "themes/**/*.html"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}
