@media (max-width: 768px) {
  .list-social-icons a,
  #sideNav .nav-link,
  .navbar-brand {
    min-height: 48px;
    min-width: 48px;
    min-inline-size: 48px;
    margin-right: 4px;
    margin-left: 4px;
    line-height: 48px;
  }
}

.devicons {
  font-size: 1.5em;
  vertical-align: sub;
}

.publication-content {
  width: 90%;
}

h3 {
  margin-top: 40px;
}

h3.mb-0 {
  margin-top: 0;
}

div.skills-heading {
  margin-top: 1em;
  margin-bottom: 0 !important;
}

.tags {
  font: 12px/1.5 'PT Sans', serif;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.resume-section blockquote {
  border-left: 4px solid #BD5D38;
  padding-left: 1em;
}

.my-auto {
  width: 100%;
}

.advteaser {
  width: 250px;
  height: 250px;
  position: relative;
  display: inline-block;
}

.advteaser img {
  position: absolute;
  top: 0;
  left: 0;
}

.advteaser .img-top {
  display: none;
  z-index: 99;
}

.advteaser-container:hover .img-top {
  display: inline;
}

img.qrcode {
  max-width: 300px !important;
}